<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ImportExport_basicHttpBinding" maxReceivedMessageSize="41943040">
          <readerQuotas maxStringContentLength="41943040" maxArrayLength="41943040" />
          <security mode="TransportCredentialOnly">
            <!-- For LDAP or SSO authentication of transport credentials, use clientCredentialType="None" -->
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ImportExport_StreamDownload_basicHttpBinding" maxReceivedMessageSize="2147483648" transferMode="StreamedResponse" messageEncoding="Mtom" sendTimeout="00:30:00">
          <security mode="TransportCredentialOnly">
            <!-- For LDAP or SSO authentication of transport credentials, use clientCredentialType="None" -->
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ImportExport_StreamUpload_basicHttpBinding" maxReceivedMessageSize="2147483648" transferMode="StreamedRequest" messageEncoding="Mtom" receiveTimeout="00:30:00">
          <security mode="None" />
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="basicHttp_2013" address="http://localhost/webservices/ImportExportService2013.svc/basicHttp" binding="basicHttpBinding" bindingConfiguration="ImportExport_basicHttpBinding" contract="Tridion.ContentManager.ImportExport.Client.IImportExportService" />
      <endpoint name="streamDownload_basicHttp_2013" address="http://localhost/webservices/ImportExportService2013.svc/streamDownload_basicHttp" binding="basicHttpBinding" bindingConfiguration="ImportExport_StreamDownload_basicHttpBinding" contract="Tridion.ContentManager.ImportExport.Client.IImportExportStreamDownload" />
      <endpoint name="streamUpload_basicHttp_2013" address="http://localhost/webservices/ImportExportService2013.svc/streamUpload_basicHttp" binding="basicHttpBinding" bindingConfiguration="ImportExport_StreamUpload_basicHttpBinding" contract="Tridion.ContentManager.ImportExport.Client.IImportExportStreamUpload" />
    </client>
  </system.serviceModel>
</configuration>