<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!-- Properties -->
    <property name="log.pattern" value="%date %-5level %logger{0} - %message%n"/>
    <property name="log.history" value="7"/>
    <property name="log.folder" value="c:/log/dd4t-example-site/"/>
    <property name="log.level" value="WARN"/>

    <!-- Appenders -->
    <appender name="rollingTransportLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/cd_transport.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>
    <appender name="rollingDeployerLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/cd_deployer.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>
    <appender name="rollingMonitorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/cd_monitor.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>
    <appender name="rollingCoreLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/cd_core.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>

    <!-- Loggers -->
    <logger name="com.tridion" level="${log.level}"/>
    <logger name="org.dd4t" level="DEBUG"/>
    
    <logger name="com.tridion.transport">
        <appender-ref ref="rollingTransportLog"/>
    </logger>
    <logger name="com.tridion.transport.HTTPSReceiverServlet">
        <appender-ref ref="rollingDeployerLog"/>
    </logger>
    <logger name="com.tridion.transport.transportpackage">
        <appender-ref ref="rollingDeployerLog"/>
    </logger>
    <logger name="com.tridion.transformer">
        <appender-ref ref="rollingDeployerLog"/>
    </logger>
    <logger name="com.tridion.deployer">
        <appender-ref ref="rollingDeployerLog"/>
    </logger>
    <logger name="com.tridion.tcdl">
        <appender-ref ref="rollingDeployerLog"/>
    </logger>
    <logger name="com.tridion.event">
        <appender-ref ref="rollingDeployerLog"/>
    </logger>
    <logger name="com.tridion.monitor">
        <appender-ref ref="rollingMonitorLog"/>
    </logger>

    <root level="OFF">
        <appender-ref ref="rollingCoreLog"/>
    </root>
</configuration>