*.iml
.classpath
.project
.settings
.metadata
.recommenders
cd_*.xml
dd4t-example-site/src/main/webapp/lib
target
META-INF
Servers
changeemail.sh
pom.xml.versionsBackup
dd4t-api/pom.xml.versionsBackup
dd4t-compatibility/pom.xml.versionsBackup
dd4t-core/pom.xml.versionsBackup
dd4t-databind/pom.xml.versionsBackup
dd4t-example-site/pom.xml.versionsBackup
dd4t-mvc-support/pom.xml.versionsBackup
dd4t-providers/pom.xml.versionsBackup
dd4t-providers-rs/pom.xml.versionsBackup
dd4t-test/pom.xml.versionsBackup
dd4t-test-spring-web/pom.xml.versionsBackup
