*.iml
.idea
.classpath
.project
.settings
.metadata
.recommenders
dd4t-test-spring-web/src/main/resources/WEB-INF/classes/7.1.0/cd_*.xml
dd4t-test-spring-web/src/main/resources/WEB-INF/classes/8.1.0/cd_*.xml
dd4t-example-site/src/main/webapp/lib
target
Servers
changeemail.sh
pom.xml.versionsBackup
.versionsBackup
test.txt
