<?xml version="1.0" encoding="utf-8"?>
<configuration scan="true" scanPeriod="1 minute">
    <!-- Properties and variables -->
    <property name="log.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    <property name="log.history" value="7"/>
    <property name="log.level" value="${LOG_LEVEL:-INFO}"/>
    <property name="cil.log.level" value="${CIL_LOG_LEVEL:-WARN}"/>
    <property name="log.encoding" value="UTF-8"/>
    <property name="log.folder" value="${LOG_FOLDER:-../logs}"/>

    <!-- Appenders -->
    <appender name="appender.cil" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/cd_client.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>${log.encoding}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>
    <appender name="appender.dxa" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.folder}/dxa.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${log.history}</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>${log.encoding}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.sdl.webapp.common.impl.util.LogbackRepeatingToSingleFilter">
            <loggerName>com.tridion.ambientdata.AmbientDataContext</loggerName>
        </filter>
        <encoder>
            <charset>${log.encoding}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- Loggers -->
    <logger name="com.tridion" level="${cil.log.level}">
        <appender-ref ref="appender.cil"/>
    </logger>
    <logger name="com.sdl.web" level="${cil.log.level}">
        <appender-ref ref="appender.cil"/>
    </logger>

    <logger name="com.sdl.dxa" level="${log.level}">
        <appender-ref ref="appender.dxa"/>
    </logger>
    <logger name="com.sdl.webapp" level="${log.level}">
        <appender-ref ref="appender.dxa"/>
    </logger>
    <logger name="org.dd4t" level="${log.level}">
        <appender-ref ref="appender.dxa"/>
    </logger>

    <logger name="org.apache.http" level="INFO">
        <appender-ref ref="appender.dxa"/>
    </logger>

    <logger name="org.springframework" level="${log.level}">
        <appender-ref ref="appender.dxa"/>
    </logger>

    <root level="${log.level}">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
