<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <!-- Properties -->
  <property name="log.pattern" value="%date %-5level %logger{0} - %message%n" />
  <property name="log.history" value="2" />
  <property name="log.folder" value="C:/temp/logs/DXA1.1" />
  <property name="log.level" value="ERROR" />
  <property name="log.encoding" value="UTF-8" />
  <!-- Appenders -->
  <appender name="rollingCoreLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${log.folder}/cd_core.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>${log.history}</maxHistory>
    </rollingPolicy>
    <encoder>
      <charset>${log.encoding}</charset>
      <pattern>${log.pattern}</pattern>
    </encoder>
    <prudent>true</prudent>
  </appender>
   <appender name="rollingDebugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${log.folder}/cd_debug.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>${log.history}</maxHistory>
    </rollingPolicy>
    <encoder>
      <charset>${log.encoding}</charset>
      <pattern>${log.pattern}</pattern>
    </encoder>
    <prudent>true</prudent>
  </appender>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
	<!-- Loggers -->
	<root level="${log.level}">
		<appender-ref ref="STDOUT"/>
	</root>
	<logger name="org.hibernate" level="${log.level}">
		<appender-ref ref="rollingCoreLog"/>
	</logger>
	<logger name="org.springframework" level="${log.level}">
		<appender-ref ref="rollingCoreLog"/>
	</logger>
	<logger name="org.springframework.web" level="${log.level}">
		<appender-ref ref="rollingCoreLog"/>
	</logger>
	<logger name="org.dd4t" level="${log.level}">
		<appender-ref ref="rollingCoreLog"/>
	</logger>
	<logger name="com.tridion" level="${log.level}">
		<appender-ref ref="rollingCoreLog"/>
	</logger>
	<logger name="com.sdl.webapp" level="${log.level}">
		<appender-ref ref="rollingCoreLog"/>
	</logger>
	<logger name="com.sdl.webapp.common.impl" level="${log.level}">
		<appender-ref ref="rollingDebugLog"/>
	</logger>
	<logger name="com.sdl.webapp.main.taglib.dxa" level="${log.level}">
		<appender-ref ref="rollingDebugLog"/>
	</logger>
	<logger name="com.sdl.webapp.main.controller.core" level="${log.level}">
		<appender-ref ref="rollingDebugLog"/>
	</logger>
</configuration>
